/* Estilos para el contenedor principal */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #1f242e; 
  }
  
  /* Estilos para el título */
  .home-title {
    font-size: 3rem;
    color: #e2dccf; 
    margin-bottom: 20px;
    font-family: 'helpMe';
  }
  
  /* Estilos para los inputs */
  .home-input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2rem;
    font-family: 'chalkFont';
  }
  
  /* Estilos para el botón */
  .home-button {
    width: 320px;
    padding: 10px;
    margin-top: 20px;
    background-color: #e2dccf; 
    color: #1f242e; 
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'chalkFont';
  }
  
  /* Efecto hover para el botón */
  .home-button:hover {
    background-color: #0056b3; 
  }
/* Estilos para el botón de historial en HomePage */
.history-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 2rem;
  background-color: #e2dccf;
  color: #1f242e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'chalkFont';
}

.history-button:hover {
  background-color: #0056b3;
  color: #fff;
}
